.item_container
	=image_tag "photo_#{item}.png", :width=>'50px', :height=>'50px'
	%b= "Item code 000#{item}"
	%p
		A concept that in many fields refers to a quantity without bound or end.
	%span= "Price: #{number_to_currency(item*700)}"
			