.item_container
	.white_tag
		.special
			Save
			%br
			= "% #{item*10}"
	.inner		
		.view_item
			View Item
		=image_tag "medium_photo_#{item}.png", :class=>:photo
		.item_description
			.title
				= "Item code 000#{item}"
			.name
				Added 
				= "#{item* 5} minutes ago"
			.price
				= "Price: #{number_to_currency(item*700)}"
				.right
					%div.btn.btn-small
						%a{"data-toggle"=>"tooltip", :title=>"Save for Later", :rel=>:tooltip}
							= image_tag 'star.png'
				